<div id="pairs">
  <% if game.past_questions(round).any? %>
    <% game.past_questions(round).each_with_index do |question, index| %>
      <div id="pair_<%= index %>" class="pair">
        <p id="question_<%= index %>" class="question">
          <%= render question %>
        </p>
        <p id="answer_<%= index %>" class="answer">
          <%= render question.answers.find_by(judge_choice: true) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
