<div id="game_attr row">
  <table id="attributes">
      <tr>
        <th>Game Round: </th>
        <td><%= @game_player.round %></td>
      </tr>
      <tr>
        <th>Score: </th>
        <td><%= @game_player.score %></td>
      </tr>
      <tr>
        <th>Role: </th>
        <td><%= @game_player.role %></td>
      </tr>
      <% unless @game_player.role == "judge" %>
        <tr>
          <th>Questioner of this round: </th>
          <td>
            <% if @game_player.questioner? %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
   <%= button_to "Next Round", game_path, method: :patch, class: "btn btn-lg btn-primary"%>
</div>

<%= javascript_tag "$(document).on('turbolinks:load', function() { setDocDataHeight(); });" %>

<div id='game-info' class="container">

  <div id="doc-info" class="doc-info row">
    <div class="col-sm-6">
      <h1>Document</h1>
    </div>

    <div class="col-sm-6">
      <h1>Whiteboard</h1>
    </div>
  </div>

  <div id="doc-info" class="doc-info row">
    <div id="document" class="col-sm-6 doc-data">
      <%= render @document unless @document.nil? %>
    </div>

    <div id="whiteboard" class="col-sm-6 doc-data">
      <%= render 'games/whiteboard' %>
    </div>
  </div>

</div>
